@*@model IEnumerable<WebCRUDApp.ViewModel.FuncViewModel>*@
@model X.PagedList.PagedList<WebCRUDApp.ViewModel.FuncViewModel>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create" class="btn btn-success">Novo Colaborador </a>
</p>
@using (Html.BeginForm())
{
    <input id="srch" type="text" placeholder="Procurar.." />
}

//teste

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>DataNascimento</th>
            <th>Cargo</th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sobrenome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeCargo)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCargo)
                </td>
                <td>
                    <form>
                        @*<form asp-action="Delete" asp-route-id="@item.Id" data-ajax="true" data-ajax-success="deleteItem(this)">*@
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pen"> </i></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"> </i></a>
                        <a class="btn btn-sm btn-danger d-none d-md-inline-block" asp-action="Delete" asp-route-id="@item.Id" onclick="deletePerson(@item.Id)"> <i class="fas fa-trash-alt"></i> </a>
                    </form>
                    @*<a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pen"> </i></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"> </i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"> </i> </a>*@
                </td>

            </tr>

        }
    </tbody>
</table>
@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))

